<!DOCTYPE html>
<html>
<head>
  <title>BankAccountx</title>
  <%= stylesheet_link_tag    "bank_accountx/application", :media => "all" %>
  <%= javascript_include_tag "bank_accountx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
